{% extends "question/base.html" %}
{% block content %}

<div id='home'>
    <a href="https://with.crepantherx.dev/">
        <img src="../icon/home.png" alt=""> 
    </a>
    <label>Challenge yourself to be at next level</label>
    <!-- <button class="btn"><a href="#"></a>@Rs. 49</a></button> -->
</div>
<!-- <aside>
    <a href="https://github.com/crepantherx">
        GITHUB
    </a>
    <a href="https://www.linkedin.com/in/crepantherx/">
        LINKEDIN
    </a>
</aside> -->


<main>

    <div class="data-tilt">
        <a href="SQL_question.html">
        <section>
            <label for="" style="color:white">SQL</label>
            <img src="../icon/image.png" alt="" width="200" height="200" style="opacity: 0.8;">
            <button class="btn"><a href="SQL_question.html">Open</a>
            <!-- </button><button><a href="https://algo.crepantherx.dev/">Website</a></button> -->
        </section>
        </a>
    </div>
    
    <!-- <div class="data-tilt">
        <a href="https://algo.crepantherx.dev/">
        <section>
            <label for="" style="color:white">Python</label>
            <img src="../icon/py.png" alt="" width="200" height="200">
            <button class="btn"><a href="SQL_question.html">Open</a>
            </button><button><a href="https://algo.crepantherx.dev/">Website</a></button>
        </section>
        </a>
    </div> -->


</main>

<!-- <footer>
   <div id="logo">
    <div>
        <a href="index.html">Go Back</a>
    </div>
</div>
    <nav>
        <a href="current.pdf">Resume</a>
        <a href="project.html">Project</a>
        <a href="cv.pdf">CV</a>
        <a href="https://crepantherx.hashnode.dev/">Blog</a>
        <a href="team.html">Team</a>
        <a href="contact.html">Contact</a>
    </nav>
</footer> -->


{% endblock content %}

